.experience-container {
  margin: 5rem 0;
  position: relative;
}

.experience-container h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.arrow-left,
.arrow-right {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.75rem;
  border: 2px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  transform: translateY(-50%);
}

.arrow-left span,
.arrow-right span {
  font-size: 2.5rem;
  font-weight: 500;
}

.arrow-left {
  left: -2.5rem;
}

.arrow-right {
  right: -2.5rem;
}

@media (max-width: 1025px) {
  .arrow-left {
    left: -1rem;
  }

  .arrow-right {
    right: -1rem;
  }
}

@media (max-width: 768px) {
  .experience-container {
    margin: 3rem 0;
  }

  .experience-container h5 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .arrow-left {
    left: -1.5rem;
  }

  .arrow-right {
    right: -1.5rem;
  }
}
